
/* ######################################################## */
.header {
    height: 100px;
    background-color: var(--backgroundColorHeader);
    display: flex;
    border-bottom: solid;
    border-color: var(--borderColorHeaderFooter);
    transition: 150ms linear; /* for navbar responsive */
}

.headerIMG {
    display: flex;
    align-items: center;
    gap: 20px;
}

.headerImage {
    height: 60px;
}

.name {
    margin: 0;
}

.innerHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    color: white;
    font-size: 40px;
}

/* ######################################################## */
.main {
    background-color: var(--backgroundColorAOT);
    min-height: calc(100vh - 200px);
    width: 100%;
}

.content {
    max-width: var(--maxWidth);
    width: 100%;
    min-height: calc(100vh - 276px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;
    padding: 24px;
}

.buttonsPlace {
    padding-bottom: 24px;
    display: flex;
    justify-content: center;
}

/* ######################################################## */
.footer {
    height: 100px;
    background-color: var(--backgroundColorFooter);
    display: flex;
    align-items: center;
    border-top: solid;
    border-color: var(--borderColorHeaderFooter);
}

.footer img {
    height: 60px;
}

.innerFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    color: white;
    font-size: 40px;
}

.innerFooter a {
    text-decoration: none;
    color: white;
    font-size: 24px;
}

.footerFixing {
    position: fixed;
    left: 0;
    bottom: 0;
}

.d_none {
    display: none;
}

