
@media(max-width: 1200px) {
    .respMenuBox {
        width: 100%;
        height: 96px;
        padding-top: 12px;
        padding-bottom: 12px;
        z-index: 5;
        justify-content: center;
    }
}

@media(max-width: 1100px) {
    .respMenuBox {
        height: 240px;
        padding-bottom: 20px;
    }

    .navBarOwn {
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-start;
        padding-left: 0;
        padding-right: 0;
    }

    .selectionFieldInline {
        max-width: 560px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .selectionField {
        margin-left: 16px;
        margin-right: 16px;
        max-width: 460px;
        width: 100%;
    }

    .searchField {
        max-width: 560px;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
    .selectionFieldSearch {
        margin-left: 16px;
        margin-right: 16px;
        max-width: 460px;
        width: 100%;
    }

    .innerHeader {
        padding-left: 7%;
        padding-right: 7%;
    }
}

@media(max-width: 500px) {
    .respMenuBox {
        height: 360px;
    }

    .headerImage {
        height: 40px;
    }

    .headerIMG {
        gap: 10px;
    }

    .innerHeader {
        font-size: 20px;
    }

    .footer {
        height: 150px;
    }

    .footerImage {
        height: 40px;
    }

    .innerFooter {
        flex-direction: column;
        justify-content: center;
        gap: 16px;
        font-size: 24px;
    }

    .selectionField {
        flex-direction: column;
        height: 200px;
        align-items: center;
        justify-content: center;
    }

    label {
        width: 130px;
    }

    .overlayClass {
        top: 0;
        height: 100%;
    }
}

