
* {
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    color: white;
}

a {
    text-decoration: none;
}

.contentWidth {    
    box-sizing: border-box;
    max-width: var(--maxWidth);
    width: 100%;
    margin: auto;
}
