
.typesIconsBG {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.typesIconsBG img {
    width: 70%;
    height: 70%;
}

.typesIconsBgColorBug {
    background-color: chartreuse;
}

.typesIconsBgColorDark {
    background-color: darkslategray;
}

.typesIconsBgColorDragon {
    background-color: rgb(5, 115, 218);
}

.typesIconsBgColorElectric {
    background-color: rgb(251, 251, 63);
}

.typesIconsBgColorFairy {
    background-color: hotpink;
}

.typesIconsBgColorGrass {
    background-color: green;
}

.typesIconsBgColorFighting {
    background-color: crimson;
}

.typesIconsBgColorFire {
    background-color: goldenrod;
}

.typesIconsBgColorFlying {
    background-color: lightsteelblue;
}

.typesIconsBgColorGhost {
    background-color: steelblue;
}

.typesIconsBgColorGround {
    background-color: rgb(247, 97, 43);
}

.typesIconsBgColorIce {
    background-color: mediumaquamarine;
}

.typesIconsBgColorNormal {
    background-color: dimgray;
}

.typesIconsBgColorPoison {
    background-color: darkorchid;
}

.typesIconsBgColorPsychic {
    background-color: rgb(252, 110, 110);
}

.typesIconsBgColorRock {
    background-color: rgb(252, 221, 97);
}

.typesIconsBgColorSteel {
    background-color: cadetblue;
}

.typesIconsBgColorWater {
    background-color: rgb(51, 152, 253);
}

