
:root {
    /* Variable for max. Content width  */
    --maxWidth: 1440px;

    /* Variables for colors */    
    --backgroundColorHeaderDay: #1e78b4;
    --backgroundColorHeaderDark: #054976;
    --backgroundColorMainDay: #a1a17d;
    --backgroundColorMainDark: #0c0c0c;
    --backgroundColorFooterDay: #8d4214;
    --backgroundColorFooterDark: #0b450f;
    --borderColorHeaderFooter: rgba(114, 87, 87, 0.477);
    --backgroundColorMainCardsNav: #66176f;
    --backgroundColorMainCardsIconField: #1c262e;
    --backgroundColorCardsFooterDay: #8d4214;
    --backgroundColorCardsFooterDark: #0b450f;
}

